<style>

    .categories {
        display: flex;
        gap: 1rem;
        padding:1rem 0 0.5rem;
        margin-bottom: 1rem;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }

    .categories::-webkit-scrollbar {
        display: none;
    }

    .category-btn {
        background-color: #ffffff;
        border-radius: 15px;
        padding: 1rem 2rem;
        cursor: pointer;
        font-size: 1.4rem;
        font-weight: 500;
        white-space: nowrap;
        transition: all 0.2s ease-in-out;
        color: #2d2d2d;
        box-shadow: 0 1px 2px rgba(86, 83, 83, 0.05);
    }

    .category-btn:hover,
    .category-btn.active {
        background: linear-gradient(90deg, #ec3734, #e93831);
        color: #fee7cb;
        border-color: white;
        transform: translateY(-2px);
    }

    
</style>

<div class="sticky-header" id="sticky-header">
    <div class="sticky-categories" id="sticky-categories"></div>
</div>

<div class="container">
    <div class="menu-section" id="menu-section">
        <div id="categories" class="categories"></div>
        <div id="items-container"></div>
    </div>
</div>